@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
*{
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
.body{
  display: flex;
  justify-content: center;
}
.app{
  height: 600px;
  width: 100vh;;
}
.search-bar{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  color:rgb(255, 251, 251) !important;
  font-family: 'Rubik Puddles', cursive;
}
.map{
height: 100%;
width:100%;
}
.controls
{
display: flex;
justify-content:space-around;
}
.btn
{
  size: 30px;
  background-color: aqua;
  color:red;
  border-radius: 2px;
}
.marker{
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px darkslategray;
}